:host{
    .pokemon_listed{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 12.5vw;
        box-shadow: -3px 3px 5px 1px rgba(195, 195, 195, 0.467);
        background-color: rgb(235, 235, 235);
        border: 5px solid rgb(235, 235, 235);
        margin: 1vw 0 1vw 0.9vw;
        transition: 0.75s;
        z-index: 3;
        cursor: pointer;
        &:hover{
            transform: scale(0.95);
            box-shadow: -9px 9px 5px 1px rgba(121, 121, 121, 0.467);
            background-color: var(--aux);
            border: 5px solid var(--aux2);
            border-radius: 10px;
        }
        .img_type_container{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            img{
                border: 2px solid rgb(40, 147, 254);
                margin: 3px;
                border-radius: 50em;
                background-color: var(--secondary);
            }
            .types_container{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
        span{
            transition: 0.5s;
            margin: 2px 5px;
        }
        .pokemon_type{
            padding: 1px 2px;
            border-radius: 5px;
        }
        //TIPOS DE POKEMON
        .grass{
            background-color: rgb(36, 255, 36);
            color: rgb(0, 86, 0);
            border: 1px solid rgb(0, 86, 0);
        }
        .poison{
            background-color: rgb(166, 0, 255);
            color: rgb(32, 0, 44);
            border: 1px solid rgb(32, 0, 44);
        }
        .fire{
            background-color: rgb(255, 0, 0);
            color: rgb(77, 0, 0);
            border: 1px solid rgb(77, 0, 0);
        }
        .flying{
            background-color: rgb(166, 198, 204);
            color: rgb(0, 0, 0);
            border: 1px solid rgb(0, 0, 0);
        }
        .water{
            background-color: rgb(0, 221, 255);
            color: rgb(0, 26, 86);
            border: 1px solid rgb(0, 26, 86);
        }
        .bug{
            background-color: rgb(41, 118, 0);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
        }
        .normal{
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: 1px solid rgb(0, 0, 0);
        }
        .ground{
            background-color: rgb(255, 174, 0);
            color: rgb(169, 62, 0);
            border: 1px solid rgb(169, 62, 0);
        }
        .electric{
            background-color: rgb(251, 255, 0);
            color: rgb(126, 128, 0);
            border: 1px solid rgb(126, 128, 0);
        }
        .fairy{
            background-color: rgb(255, 0, 170);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
        }
        .fighting{
            background-color: rgb(255, 2, 2);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
        }
        .psychic{
            background-color: rgb(154, 0, 192);
            color: rgb(255, 114, 250);
            border: 1px solid rgb(255, 114, 250);
        }
        .ghost{
            background-color: rgb(90, 0, 110);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
        }
        .rock{
            background-color: rgb(117, 117, 117);
            color: rgb(39, 39, 39);
            border: 1px solid rgb(39, 39, 39);
        }
        .steel{
            background-color: rgb(172, 172, 172);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
        }
        .ice{
            background-color: rgb(0, 225, 255);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
        }
        .dragon{
            background-color: rgb(255, 168, 37);
            color: rgb(0, 97, 253);
            border: 1px solid rgb(0, 97, 253);
        }
    }
}
@media screen and (max-width: 1503px){
    :host{
        .pokemon_listed{
            width: 14.5vw;
            margin: 1vw 0 1vw 1.2vw;
        }
    }
}
@media screen and (max-width: 1295px){
    :host{
        .pokemon_listed{
            width: 16.5vw;
            margin: 1vw 0 1vw 2.1vw;
        }
    }
}
@media screen and (max-width: 1138px){
    :host{
        .pokemon_listed{
            width: 18.5vw;
            margin: 1vw 0 1vw 4.2vw;
        }
    }
}
@media screen and (max-width: 1010px){
    :host{
        .pokemon_listed{
            width: 20.5vw;
            margin: 2vw 0 2vw 8.2vw;
        }
    }
}
@media screen and (max-width: 940px){
    :host{
        .pokemon_listed{
            width: 20.5vw;
            margin: 2vw 0 2vw 3.2vw;
        }
    }
}
@media screen and (max-width: 940px){
    :host{
        .pokemon_listed{
            width: 22.5vw;
            margin: 2vw 0 2vw 8.2vw;
        }
    }
}
@media screen and (max-width: 828px){
    :host{
        .pokemon_listed{
            width: 24.5vw;
            margin: 2vw 0 2vw 5.2vw;
        }
    }
}
@media screen and (max-width: 761px){
    :host{
        .pokemon_listed{
            width: 26.5vw;
            margin: 2vw 0 2vw 4.2vw;
        }
    }
}
@media screen and (max-width: 704px){
    :host{
        .pokemon_listed{
            width: 29.5vw;
            margin: 3vw 0 3vw 14.2vw;
        }
    }
}
@media screen and (max-width: 640px){
    :host{
        .pokemon_listed{
            width: 32.5vw;
            margin: 3vw 0 3vw 10.2vw;
        }
    }
}
@media screen and (max-width: 573px){
    :host{
        .pokemon_listed{
            width: 34.5vw;
            margin: 3vw 0 3vw 10.2vw;
        }
    }
}
@media screen and (max-width: 554px){
    :host{
        .pokemon_listed{
            width: 40.5vw;
            margin: 3vw 0 3vw 5vw;
        }
    }
}
@media screen and (max-width: 461px){
    :host{
        .pokemon_listed{
            width: 50vw;
            margin: 3vw 0 3vw 25vw;
        }
    }
}
@media screen and (max-width: 378px){
    :host{
        .pokemon_listed{
            width: 70vw;
            margin: 3vw 0 3vw 15vw;
        }
    }
}
