<div class="pokemon_listed">
    <div class="img_type_container">
        <img [src]="pokemonListed?.sprites?.front_default" alt="Imagen Pokemon Frontal">
        <div class="types_container">
            <span *ngFor="let type of pokemonListed?.types" class="pokemon_type {{type.type.name}}" >{{type.type.name | uppercase}}</span>
        </div>
    </div>
    <span>Nº: {{pokemonListed?.id}}</span>
    <span>Name: {{pokemonListed?.name | uppercase}}</span>
    <span>Height: {{convert(pokemonListed?.height)}} m</span>
    <span>Weight: {{convert(pokemonListed?.weight)}} kg</span>
</div>
