:host{
    nav{
        height: 5vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        a{
            all: unset;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0 40px;
            margin: 0 2px;
            height: 5vh;
            transition: 0.5s;   
            &.active, &:hover{
                background-color: var(--aux2);
                color: var(--aux);
            }
        }
    }
}