<div class="main_screen">
    <div class="pokemon-list-header">
        <div class="filters">
            <div class="select" (click)="toggleFilter()">
                <div class="filter_and_arrow_container">
                    Filter by TYPE
                    <span *ngIf="!filterOpen" class='material-icons'>arrow_downward</span>
                    <span *ngIf="filterOpen" class='material-icons'>arrow_upward</span>
                </div>
                <div class="option" *ngFor="let type of pokemonTypes" (click)="setTypeForFilter(type)">{{type | uppercase}}</div>
            </div>
            <div *ngIf="typeForFilter" class="aplicated_filter pokemon_{{typeForFilter}}">
                {{typeForFilter | uppercase}}
                <span class="material-icons deleteFilterParameter" (click)="reloadPokemonList(); resetFilter()">cancel</span>
            </div>
            <div class="search">
                <input type="text" placeholder="Search by NAME" (keyup)="setParameterSearch()" [(ngModel)]="parameterSearch">
                <span class="material-icons do_search">search</span>
            </div>
        </div>
        <!-- <div class="changeView">
            <span (click)="changeView()" [class.active]="showMosaic" class="material-icons">auto_awesome_mosaic</span> | 
            <span (click)="changeView()" [class.active]="!showMosaic" class='material-icons'>table_rows</span>
        </div> -->
    </div>

    <!-- PINTAR LA LISTA DE POKEMONS -->
    <div *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loading" class="pokemon_list">
        <div *ngFor="let pokemon of pokemonListFilter" class="pokemon_card pokemon_{{pokemon.types[0].type.name}}" (click)="changeStatusPokedex(); pokemonForPokedex(pokemon)">
            <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
        </div>
    </div>
    <app-Pokedex *ngIf="pokedexOpen" [pokemonSelected]="pokemon" [pokedexOpen]="pokedexOpen" (sendPokedexStatus)="changeStatusPokedex()"></app-Pokedex>
</div>