:host{
    .filters{
        height: 5vh;
        margin: 30px 2vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        .filter_and_arrow_container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .select{
            display: flex;
            position: relative;
            flex-direction: column;
            align-items:flex-start;
            justify-content: flex-start;
            width: 150px;
            padding: 5px 0;
            border: 2px solid var(--outfocus);
            border-radius: 5px;
            transition: 0.2s;
            background-color: var(--secondary);
            z-index: 3;
            cursor: pointer;
            &:hover{
                box-shadow: 2px 5px 15px -5px var(--outfocus);
                border: 2px solid var(--main);
                p,span{
                    color: var(--main);
                }
            }
            p{
                padding: 5px 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                color: var(--outfocus);
            }
            span{
                font-size: small;
                padding: 0 2.5px;
                color: var(--outfocus);
            }
            .option{
                font-size: 0;
                padding: 0;
                &:hover{
                    color: var(--aux);
                    background-color: var(--aux2);
                }
            }
            .option_opened{
                padding: 5px 10px;
                width: 130px;
                font-size: medium;
            }
        }
        .aplicated_filter {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100px;
            padding: 4.5px 5px;
            margin-left: 10px;
            border: 2px solid var(--outfocus);
            border-radius: 5px;
            cursor: default;
            transition: 0.2s;
            &:hover{
                box-shadow: 2px 5px 15px -5px var(--outfocus);
                p,span{
                    color: var(--main);
                }
            }
            .deleteFilterParameter{
                cursor: pointer;
                font-size: 20px;
                transition: 0.2s;
                &:hover{
                    color: red;
                }
            }
        }
        .search{
            margin-left: 10px;
            position: relative;
            color: var(--outfocus);
            &:hover{
                input{
                    box-shadow: 2px 5px 15px -5px var(--outfocus);
                    border: 2px solid var(--outfocus);
                    color: var(--main);
                }
                .close_search{
                    color: var(--main);
                }
            }
            span{
                position: absolute;
                cursor: pointer;
                color: var(--outfocus);
            }
            .do_search{
                font-size: 30px;
                top: 2px;
                left: 2px;
                cursor: default;
            }
            .close_search{
                font-size: 21px;
                top: 6px;
                right: 5px;
                color: var(--outfocus);
                &:hover{
                    color: red;
                }
            }
            input{
                all: unset;
                width: 300px;
                padding: 5px 45px;
                border: 2px solid var(--outfocus);
                border-radius: 5px;
                transition: 0.2s;
                background-color: var(--secondary);
                color: var(--outfocus);
                &::placeholder{
                    color: var(--outfocus);
                }
                &:hover{
                    box-shadow: 2px 5px 15px -5px var(--outfocus);
                    border: 2px solid var(--outfocus);
                    color: var(--main);
                }
                &:focus {
                    box-shadow: 2px 5px 15px -5px var(--outfocus);
                    border: 2px solid var(--main);
                    color: var(--main);
                }
            }
        }
    }
    .changeView{
        margin-right: 2vw;
        font-size: 35px;
        span{
            font-size: 25px;
            cursor: pointer;
            color: var(--outfocus);
            &:hover{
                color: var(--main);
            }
        }
        span.active{
            color: var(--main); 
        }
    }
    .pokemon_list{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        .pokemon_card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            box-shadow: 5px 5px 6px -1px var(--shadow);
            margin: 10px;
            cursor: pointer;
            color: var(--main);
            padding: 20px 10px 0 10px;
        }
    }
    .table_pokemon_list{
        margin: 0 2.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0;
        box-shadow: -3px 3px 5px 1px rgba(195, 195, 195, 0.467);
        background-color: rgb(235, 235, 235);
        border: 5px solid rgb(235, 235, 235);
        border-radius: 15px;
        .columns_table_pokemon{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 90vw;
            font-weight: 600;
            font-size: large;
        }
        div.column_long, div.column_short{
            padding: 5px 25px 5px 20px;
            text-align: left;
        }
        div.column_long{
            width: 30%;
        }
        div.column_short{
            width: 10%;
        }
        hr{
            width: 90vw;
            border: 1px solid grey;
        }
    }
    //TIPOS DE POKEMON
    .pokemon_grass {
        background-color: rgb(216, 255, 172, 0.5);
    }
    .pokemon_poison {
        background-color: rgb(211, 172, 255, 0.5);
    }
    .pokemon_fire {
        background-color: rgba(255, 166, 0, 0.5);
    }
    .pokemon_water {
        background-color: rgb(173, 229, 255, 0.5);
    }
    .pokemon_bug {
        background-color: rgb(46, 163, 0, 0.5);
    }
    .pokemon_normal {
        background-color: rgb(252, 235, 253, 0.5);
    }
    .pokemon_electric {
        background-color: rgb(255, 246, 167, 0.5);
    }
    .pokemon_ground {
        background-color: rgb(255, 223, 172, 0.5);
    }
    .pokemon_fairy {
        background-color: rgb(249, 203, 255, 0.5);
    }
    .pokemon_fighting {
        background-color: rgb(255, 160, 119, 0.5);
    }
    .pokemon_rock {
        background-color: rgb(100, 66, 52, 0.5);
    }
    .pokemon_psychic {
        background-color: rgb(219, 138, 240, 0.5);
    }
    .pokemon_steel {
        background-color: rgb(141, 141, 141, 0.5);
    }
    .pokemon_ice {
        background-color: rgb(42, 91, 252, 0.5);
    }
    .pokemon_ghost {
        background-color: rgba(41, 41, 41, 0.75);
    }
    .pokemon_dragon {
        background-color: rgb(228, 121, 76, 0.25);
    }
}

@media (max-width: 1663px) {
    :host{
        .pokemon_list{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 1461px) {
    :host{
        .pokemon_list{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 1261px) {
    :host{
        .pokemon_list{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 1052px) {
    :host{
        .pokemon_list{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 846px) {
    :host{
        .pokemon_list{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 628px) {
    :host{
        .pokemon_list{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 428px) {
    :host{
        .pokemon_list{
            grid-template-columns: 1fr;
        }
    }
}