<div class="container_pokedex" (click)="closePokedex($event)">
    <div class="pokedex">
        <!-- PARTE SUPERIOR DE LA POKEDEX -->
        <div class="pokedex_top_container">
            <div class="pokedex_top">
                <div class="big_circle_container">
                    <div class="big_circle_blue">
                        <div class="big_circle_shadow">
                            <div class="big_circle_light">
                                <div class="big_circle_light_white"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three_lights_container">
                    <div class="circle_light circle_light_red">
                        <div class="circle_light_shadow">
                            <div class="circle_light_light"></div>
                        </div>
                    </div>
                    <div class="circle_light circle_light_yellow">
                        <div class="circle_light_shadow">
                            <div class="circle_light_light"></div>
                        </div>
                    </div>
                    <div class="circle_light circle_light_green">
                        <div class="circle_light_shadow">
                            <div class="circle_light_light"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pokedex_left_container">
            <div class="pokedex_left">
                <div class="screen_container">
                    <div class="screen_container_white">
                        <div class="screen_buttons_top">
                            <div class="screen_buttons_top_circles"></div>
                            <div class="screen_buttons_top_circles"></div>
                        </div>
                        <div class="screen_left">
                            <img [src]="pokemonSelected.sprites.versions['generation-v']['black-white'].animated.front_default" alt="Pokemon Animated">
                        </div>
                        <div class="left_screen_button_down"></div>
                        <div class="left_screen_4_lines_container">
                            <div class="left_screen_line"></div>
                            <div class="left_screen_line"></div>
                            <div class="left_screen_line"></div>
                            <div class="left_screen_line"></div>
                        </div>
                    </div>
                </div>
                <div class="left_buttons_down_container">
                    <div class="left_button_black_circle"></div>
                    <div class="left_button_lines_container">
                        <div class="left_button_lines left_button_line_red"></div>
                        <div class="left_button_lines left_button_line_blue"></div>
                    </div>
                    <div class="left_button_screen_green"></div>
                    <div class="left_cross_container">
                        <div class="left_cross">
                            <div class="circle_left_cross"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pokedex_center_container">
            <div class="pokedex_center">
            </div>
        </div>
        <div class="pokedex_right_container">
            <div class="pokedex_right">
            </div>
        </div>
    </div>
</div>
