<div class="container_pokedex">
    <div class="pokedex">
        <!-- PARTE SUPERIOR DE LA POKEDEX -->
        <div class="pokedex_top_container">
            <div class="pokedex_top">
                <div class="big_circle_container">
                    <div class="big_circle_blue">
                        <div class="big_circle_shadow">
                            <div class="big_circle_light">
                                <div class="big_circle_light_white"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three_lights_container">
                    <div class="circle_light circle_light_red">
                        <div class="circle_light_shadow">
                            <div class="circle_light_light"></div>
                        </div>
                    </div>
                    <div class="circle_light circle_light_yellow">
                        <div class="circle_light_shadow">
                            <div class="circle_light_light"></div>
                        </div>
                    </div>
                    <div class="circle_light circle_light_green">
                        <div class="circle_light_shadow">
                            <div class="circle_light_light"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pokedex_left_container">
            <div class="pokedex_left"></div>
        </div>
        <div class="pokedex_center"></div>
        <div class="pokedex_right"></div>
    </div>
</div>
