:host{
    .filters{
        height: 5vh;
        margin: 2vh 2vw;
    }
    .pokemon_list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}